/*
*	Projeto em HTML5 e CSS3 com sistema de controle de versão
*	Web app responsivo
*	por Jeferson Ferreira da silva
*/

/*RESET*/
*{
	margin: 0;
	padding: 0;
	font-family: roboto, arial;
	font-size: 100%;
	text-decoration: none;
	text-align: center;

	box-sizing: border-box;
	-webkit-box-sizing: border-box; /*navegadores antigos*/
	-moz-box-sizing: border-box;
}
/*CORPO*/
.corpo{
	width: 100%;
}
/*CONTEUDO*/
.conteudo{
	max-width: 1280px;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
}
/*LOGO*/
.logo{
	width: 200px;
	height: 150px;
	float: left;
}
/*CLEAR FIX*/
.limpa{
	clear: both;
	overflow: hidden;
	display: block;
}
/*MENU*/
.menu{
	display: block;
	float: right;
	margin-top: 40px;
	background: #FF8C00;
	/*border: solid;*/
}
.menu ul li{
	font-weight: bold;
	text-transform: capitalize;
	display: inline-block;
	padding: 20px;
	/*border: solid;*/
}
.menu ul li:hover{
	background: rgb(225,109,0);
}
.menu ul li a{
	color: rgba(255,255,255,0.9);
}
.menu ul li a:hover{
	color: #000000;
}
/*SLIDE DE IMAGENS*/
.slide{
	min-height: 350px;
	border: 5px solid #fff;
	position: relative;
	text-align: left;
}
.slideImagem{
	position: absolute; /*Fica uma imagem em cima da outra*/
	opacity: 0; /*nenhum imagem aparece*/
	animation: animaSlide 15s infinite;

	-webkit-animation: animaSlide 15s infinite; /*Para funcionar em navegadores mais antigos */
}
@keyframes animaSlide{
	25%{
		opacity: 1
	}
	75%{
		opacity: 0
	}
}
/*Para navegadores mais antigos */
@-webkit-keyframes animaSlide{
	25%{
		opacity: 1
	}
	75%{
		opacity: 0
	}
}
/********************************/
.slideImagem:nth-child(0){
	animation-delay: 0s
}
.slideImagem:nth-child(1){
	animation-delay: 5s
}
.slideImagem:nth-child(2){
	animation-delay: 10s
}
/*TITULOS*/
.titulo{
	text-transform: uppercase;
	font-size: 1.3em;
}
/*TITULO PRINCIPAL DESTAQUE*/
.tituloDestaque{
	font-size: 2em;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 3px dotted #FFA500;
}
/*CAIXA*/
.caixa{
	float: left;
	width: 100%
	margin: 0.5%;
}
.caixa3{
	width: 24%;
}
.caixa6{
	width: 49%;
}
/*SOMRAS*/
.sombra{
    box-shadow: 2px 5px 10px #ccc;
    -webkit-box-shadow: 2px 5px 10px #ccc;
    -moz-box-shadow: 2px 5px 10px #ccc;
    border: 1px solid #ddd
}
.sombraTexto{
	text-shadow: 1px 1px 2px #000000;
}
/*CORES*/
.laranja{
	background-color: #FFA500;
	color: #FFFFFF;
}
.preto{
	background: #333;
	color: #ccc;
}
.cinza{
	background: #f2f1ec;
	color: #555;
}
/*BOTÃO*/
.botao{
	margin: 10px;
	display: inline-block;
	border: 1px solid;
	color: #fff;
	cursor: pointer;
}
.botaoMedio{
	padding: 10px 30px;
}
.botaoGrande{
	padding: 15px 50px;
}
/*COR DE BOTÃO*/
.botaoAzul{
	background-color: #6495ED;
	border-color: #6495ED;
}
.botaoAzul:hover{
	color: #4169E1;
}
.botaoLaranja{
	background-color: #FFA500;
	border-color: #FFA500;
}
.botaoLaranja:hover{
	color: #FF4500;
}
.botaoAmarelo{
	background-color: #FFD700;
	border-color: #FFD700;
}
.botaoAmarelo:hover{
	color: #DAA520;
}
.botaoPreto{
	background-color: #AAABBC;
	border-color: #AAAAAA;
}
.botaoPreto:hover{
	color: #A575BC;
}
/*COR DE TEXTO*/
.textoLaranja{
	color: #FFA500;
}
.textoAzul{
	color: #6495ED;
}
.textoAmarelo{
	color: #FFD700;
}
/*BORDAS*/
.bordas{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/*PARAGRAFOS*/
p{
	padding: 5px;
	text-align: left;
}
/*TITULOS*/
h1{
	padding: 5px;
}
img{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 5px;
}
/*VIDEOS*/
video, iframe{
	width: 100%;
	height: 100%;
	min-height: 180px;
	background: #000;
	border: 2px solid #111;
}
/*AUDIOS*/
.audios li{
	list-style: none;
}
.audios p{
	text-transform: capitalize;
	color: #f00;
}
audio{
	width: 85%;
	margin: 5px;
	max-height: 35px;
}
